---
import SpeedInsights from '@vercel/speed-insights/astro';
import advertMemberImage from '../assets/images/abonate2425.png';
import SocialNetwork from '../components/SocialNetwork.astro';
// import ViewLiveVideo from '../components/ViewLiveVideo.astro';
import '../assets/styles/global.css';
import MemberPoster from '../components/MemberPoster.astro';
import TrainingPlace from '../components/TrainingPlace/TrainingPlaceItem.astro';
import TrainingPlaceList from '../components/TrainingPlace/TrainingPlaceList.astro';

export const prerender = true;

const canonicalUrl = Astro.url.href;
const title = `Club Balonmano Vetusta 🤾‍♂️ - Primera Nacional - Asturias`;
const description = `Web del Club Balonmano Vetusta, también conocido como Auto-Center Principado Vetusta por motivos de patrocinio. Somos de Oviedo y disputamos la liga de Primera Nacional de España encuadrado en el grupo B. También tenemos escuelas en distintos colegios de Oviedo y disputamos la liga Territorial senior masculino de Asturias.`;
const twitterDescription = `Web del Club Balonmano Vetusta, también conocido como Auto-Center Principado Vetusta por motivos de patrocinio. Somos de Oviedo.`;
const type = 'website';
const ogImage = advertMemberImage; // { src, width, height}
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>{title}</title>

    <meta name='description' content={description} />

    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />

    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={twitterDescription} />

    <meta property='og:url' content={canonicalUrl} />
    <meta property='og:type' content='website' />
    <meta
      property='og:site_name'
      content='Club Balonmano Vetusta, club de la ciudad de Oviedo. También conocido como Auto-Center Principado Vetusta por motivos de patrocinio.'
    />
    <meta
      property='og:image:alt'
      content={'Club Balonmano Vetusta. Abonate y ven a disfrutar del balonmano de Primera Nacional con nosotros.'}
    />
    <meta property='og:image:locale' content='es-ES' />
    <meta property={`og:image`} content={ogImage.src} />
    <meta property={`og:image:type`} content={type} />
    <meta property={`og:image:width`} content={ogImage.width.toString()} />
    <meta property={`og:image:height`} content={ogImage.height.toString()} />

    <link rel='image_src' href={advertMemberImage.src} />

    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='mask-icon' href='/favicon.svg' color='#151111' />
    <meta name='theme-color' content='#151111' />

    <meta name='generator' content={Astro.generator} />
    <title>Club Balonmano Vetusta</title>
    <link rel='preconnect' href='https://fonts.bunny.net' />
    <link
      href='https://fonts.bunny.net/css?family=alumni-sans:400,400i,600,600i'
      rel='stylesheet'
    />
    <script>
      import '@justinribeiro/lite-youtube';
    </script>
    <style>
      body,
      article {
        direction: ltr;
        display: flex;
        flex-direction: column;
        place-items: center;
        align-items: center;
        gap: 1rem;
      }
    </style>
    <SpeedInsights />
  </head>
  <body>
    <!-- <ViewLiveVideo server:defer /> -->

    <article id='abonate'>
      <main>
        <MemberPoster />
        <SocialNetwork
          icon='vetusta'
          href='/abonate'
          text='¡Hazte socio y ven a vernos!'
          alt='Escudo del club balonmano vetusta'
          title='Enlace al formulario para hacerse socio del club'
        />
      </main>
    </article>

    <article id='redes'>
      <header>
        <h2>Redes Sociales</h2>
      </header>
      <main>
        <SocialNetwork
          icon='yt'
          href='https://youtube.com/@balonmanovetusta?sub_confirmation=1'
          text='¡Suscribete! Para ver nuestros partidos'
          alt='Logo de Youtube'
          title='Suscribete a nuestro canal de Youtube'
        />

        <SocialNetwork
          icon='x'
          href='https://x.com/BM_Vetusta'
          text='@BM_Vetusta'
          alt='Logo de X (Twitter)'
          title='Enlace a la cuenta en X (Twitter) del club'
        />

        <SocialNetwork
          icon='instagram'
          href='https://instagram.com/balonmanovetusta'
          text='@balonmanovetusta'
          alt='Logo de Instagram'
          title='Enlace a la cuenta en Instagram del club'
        />
      </main>
    </article>

    <article id='entrena'>
      <header>
        <h2>¿Dónde entrenar con nostros?</h2>
      </header>
      <main>
        <TrainingPlaceList />
      </main>
    </article>
  </body>
</html>
