---
import { Image } from 'astro:assets';

interface Props {
  icon: string;
  alt: string;
  href: string;
  text: string;
  title: string;
  loading: 'lazy' | 'eager';
  [key: string]: string;
}

const { icon, alt, title, href, text, loading = 'lazy', ...anchorProps } = Astro.props;

let src = `/assets/images/${icon}.svg`;

if (icon === 'vetusta') {
  src = `/assets/images/vetusta-icon-32.png`;
}
---

<style>
  img {
    width: 2rem;
    height: 2rem;
    max-height: 100%;
    object-fit: contain;
    padding: 0.05rem;
    opacity: 0.5;
  }

  p {
    font-weight: 600;
  }

  a:hover > img {
    opacity: 1;
  }

  img[src$='x.svg'] {
    background-color: black;
    border-radius: 5rem;
  }

  a {
    --local-link-rgb-color: var(--link-rgb-color, 10, 10, 10);
    --local-link-alpha-color: var(--link-alpha-color, 0.8);
    --local-link-color: rgba(var(--local-link-rgb-color), var(--local-link-alpha-color));

    color: var(--link-color, var(--local-link-color));

    border-radius: 0.5rem;
    width: 20rem;
    max-width: 90dvw;
    font-size: 1.25rem;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    place-items: center;
    justify-items: center;
    gap: 1rem;
    content-visibility: auto;
  }

  a:visited {
    --local-link-rgb-color: var(--visited-link-rgb-color, 10, 10, 10);
    --local-link-alpha-color: var(--visited-link-alpha-color, 0.8);
    --local-link-color: rgba(var(--local-link-rgb-color), var(--local-link-alpha-color));

    color: var(--link-color, var(--local-link-color));
  }

  a:hover,
  a:focus {
    --local-link-rgb-color: var(--hover-link-rgb-color, 10, 10, 10);
    --local-link-alpha-color: var(--hover-link-alpha-color, 1);
    --local-link-color: rgba(var(--local-link-rgb-color), var(--local-link-alpha-color));

    color: var(--link-color, var(--local-link-color));
  }

  @media (prefers-color-scheme: dark) {
    a,
    a:visited,
    a:hover,
    a:focus {
      --link-rgb-color: 240, 240, 240;
      --hover-link-rgb-color: var(--link-rgb-color);
      --visited-link-rgb-color: var(--link-rgb-color);
    }
  }

  @media (hover: none) {
    a,
    a:visited {
      opacity: 1 !important;
    }
  }
</style>

<a href={href} title={title} {...anchorProps}>
  <Image src={src} alt={alt} width='32' height='32' loading={loading} layout='responsive' />
  <p>{text}</p>
</a>
